$color-primary: #978ded;
$color-primary-light: lighten($color-primary, 10%);
$blackish-text: #444444;
$whitish-grey: #f3f4f6;
$background-gradient: linear-gradient(109.6deg, #b9d4f2 11.2%, #f4d2e2 100.3%);
